
@base: #f938ab;
.navbar-default {
  background-color: #003F85;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #003F85;
    background-color: #FEE000;
}
.navbar-default .navbar-nav > .active >
a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #0042FF;
    background-color: #F9FF13;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.form-control {
  border-radius: 20px;
  font-size: 10px;
  height: 23px;
}
.navbar-right {
    float: right !important;
    margin-right: 18%;
    margin-top: -8px;
}

.glyphicon {
    position: relative;
    top: 24px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: #FFF;
    right: 20px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FEE000;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 7px;
    margin-left: 18%;
}
